In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rio Gallegos,AR,2021-06-03 21:41:32,-51.6226,-69.2181,37.45,93,90,3.44
1,1,Takoradi,GH,2021-06-03 21:43:26,4.8845,-1.7554,80.13,85,36,8.10
2,2,Cape Town,ZA,2021-06-03 21:38:41,-33.9258,18.4232,55.11,94,0,2.33
3,3,Ushuaia,AR,2021-06-03 21:43:26,-54.8000,-68.3000,28.02,93,0,5.75
4,4,Yulara,AU,2021-06-03 21:43:27,-25.2406,130.9889,46.24,81,81,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Takoradi,GH,2021-06-03 21:43:26,4.8845,-1.7554,80.13,85,36,8.10
7,7,Sibolga,ID,2021-06-03 21:43:28,1.7427,98.7792,77.25,90,100,2.48
8,8,The Valley,AI,2021-06-03 21:43:28,18.2170,-63.0578,84.06,74,20,12.66
12,12,Georgetown,MY,2021-06-03 21:41:58,5.4112,100.3354,80.89,90,20,1.99
13,13,Monrovia,LR,2021-06-03 21:43:29,6.3005,-10.7969,81.12,81,100,8.14
23,23,Puerto Ayora,EC,2021-06-03 21:43:32,-0.7393,-90.3518,82.36,86,43,7.00
27,27,Kushima,JP,2021-06-03 21:43:33,31.4583,131.2333,78.31,95,100,14.92
30,30,Sao Felix Do Xingu,BR,2021-06-03 21:43:33,-6.6447,-51.9950,81.16,56,49,2.93
33,33,Kapaa,US,2021-06-03 21:43:34,22.0752,-159.3190,83.19,80,90,5.99
36,36,Sigli,ID,2021-06-03 21:43:35,5.3848,95.9609,79.02,85,92,3.94

In [12]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
1             Takoradi      GH     80.13   4.8845   -1.7554
7              Sibolga      ID     77.25   1.7427   98.7792
8           The Valley      AI     84.06  18.2170  -63.0578
12          Georgetown      MY     80.89   5.4112  100.3354
13            Monrovia      LR     81.12   6.3005  -10.7969
23        Puerto Ayora      EC     82.36  -0.7393  -90.3518
27             Kushima      JP     78.31  31.4583  131.2333
30  Sao Felix Do Xingu      BR     81.16  -6.6447  -51.9950
33               Kapaa      US     83.19  22.0752 -159.3190
36               Sigli      ID     79.02   5.3848   95.9609

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Takoradi,GH,80.13,4.8845,-1.7554,Raybow International Hotel
7,Sibolga,ID,77.25,1.7427,98.7792,Hotel Syariah CN Darussalam
8,The Valley,AI,84.06,18.2170,-63.0578,CeBlue Villas & Beach Resort
12,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
13,Monrovia,LR,81.12,6.3005,-10.7969,Sunset Inn
23,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Kushima,JP,78.31,31.4583,131.2333,Hanaoka
30,Sao Felix Do Xingu,BR,81.16,-6.6447,-51.9950,Rio Xingu Camping
33,Kapaa,US,83.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
36,Sigli,ID,79.02,5.3848,95.9609,Losmen Dua Mali

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))