## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sabang,ID,83.12,overcast clouds,5.8933,95.3214,Hotel Citra
1,1,Laguna,US,89.44,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,2,Rikitea,PF,75.63,overcast clouds,-23.1203,-134.9692,Pension Maro'i
3,3,Dingle,PH,76.30,light rain,10.9995,122.6711,SEGAYA PROPERTY
4,4,Nikolskoye,RU,73.29,broken clouds,59.7035,30.7861,Tourist House - Sablino
5,5,Jamestown,US,84.09,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,6,Butaritari,KI,82.31,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
7,7,Mecca,SA,88.16,scattered clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
8,8,Sao Gabriel Da Cachoeira,BR,75.00,moderate rain,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
9,9,Conde,BR,83.66,scattered clouds,-7.2597,-34.9075,Pousada Beija Flor

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'Griffith']
vacation_end = vacation_df.loc[vacation_df['City']== 'Griffith']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Hamilton']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Parker'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Creston']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([41.5284, -87.4237], dtype=object)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Griffith = start
Hamilton = stop1
Parker = stop2
Creston = stop3 
roadtrip = gmaps.directions_layer(Griffith, Griffith, 
                                  waypoints=[Hamilton, Parker, Creston],
                                  travel_mode="DRIVING")

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,104,Griffith,US,88.48,clear sky,41.5284,-87.4237,"Motel 6 Hammond, IN - Chicago Area"
1,57,Hamilton,US,86.85,scattered clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
2,38,Parker,US,80.46,overcast clouds,32.7668,-97.8003,"Candlewood Suites Weatherford, an IHG Hotel"
3,141,Creston,US,87.08,clear sky,41.0586,-94.3614,Supertel Inn & Conference Center

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))